body{
 background-color: #254d25;
 color: cornsilk;

}

footer{
 background-color: #1d3d1d;
 color: cornsilk;
position: relative;
width: 100%;
height:3rem;
}

footer p {

text-align: center;
font-size:2.0rem;
margin-top:48.0rem;

}




